@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Azeret Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

/* Nav style starts here */
.nav-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
}

.nav-container h4 {
    font-size: 22px;
}

.nav-container button {
    padding: 17px 24px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border-color: #0D1321;
}

/* Nav style ends here */


/* Hero Section style Starts Here */
.hero-container {
    width: 100%;
    height: 652px;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 26px 221px 44px 221px;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 68px
}

.hero-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 852px;
    margin: 0 auto;
}

.hero-content button {
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* Hero Section style Ends Here */

/* Main section style starts here */
.main-content {
    width: 946px;
    height: 1050px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}

.main-content>p {
    padding: 30px 0;
}

.main-child {
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin-top: 48px;

}

.child-content {
    width: 477px;
    height: 220px;

}

.child-content p {
    padding: 30px 0;
}

.btn-main {
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(13, 19, 33);
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}

/* Main section style Ends here */

/* Inspiration Content style Start here */
.inspiration-container {
    text-align: center;
    padding: 0 32px;
}

.inspiration-content {
    width: 852px;
    height: 115px;
    margin: 0 auto;
}

.inspiration-content p {
    padding: 30px 0;
}

.inspiration-video {
    width: 1140px;
    height: 614px;
    margin: 0 auto;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 20px;
}

iframe {
    border-radius: 16px;
}

/* Inspiration Content style end here */

/* Target style start here */
.target-container {
    width: 1140px;
    height: 1444px;
    margin: 0 auto;
    margin-top: 149px;
}

.target-content1 {
    width: 946px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
}


.target-content1 p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
}

.target-content2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.target-child {
    width: 364px;
    height: 300px;
    padding: 40px;
    border-radius: 16px;
}

.target-child h1 {
    padding: 30px 0 0 0;
}

.target-child p,
.target-content4-child p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    padding: 20px 0 20px 0;
}

.target-child a,
.target-content4-child a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
}

.target-content3 {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    margin-top: 111px;
    text-align: center;
}

.target-content3 p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    padding-top: 30px;
}

.target-content4-child {
    width: 1140px;
    height: 220px;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 40px 0;
    display: flex;
}

.content {
    padding-left: 24px;
}

/* Target style end here */

/* Need Support style start here */
.support-container {
    width: 1140px;
    height: 314px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('assets/handshake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 16px;
    padding: 64px 48px;

}

.support-content {
    text-align: center;
}

.support-content h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin: 16px 0;
}

.support-content p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 16px 0;
}

input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 548px;
    height: 57px;
    margin: 30px 0 0 0;
}

.input-btn {
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(13, 19, 33, 0.15);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

/* Need Support style end here */